.outerContainer {
  padding: 3rem 0 6rem;
  min-height: 100vh;
}

.container {
  max-width: 46rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.darkMode {
  background: #011627;
  color: #d6deeb;
}

.darkMode a {
  color: #449ce4;
  text-decoration: none;
}

.darkMode a:hover {
  text-decoration: underline;
}
